<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ingenico.connect.gateway.sdk.client.android.exampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >

        <activity
            android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.StartPageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.PaymentResultActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://epayments.developer-ingenico.com"
                    android:pathPrefix="/return"
                    android:scheme="ingenicoconnect" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.PaymentWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.PaymentProductSelectionActivity" />
        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.DetailInputActivity" />
        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.DetailInputActivityCreditCards" />
        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.DetailInputActivityBoletoBancario" />
        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.DetailInputActivityAfterpay" />
        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.DetailInputActivityBCMC" />
        <activity android:name="com.ingenico.connect.gateway.sdk.client.android.exampleapp.activities.BCMCProcessingActivity" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>